.result {
    font-size: 8pt;
    vertical-align: middle;
}

th.eventHeading {
    max-width: 80px;
    word-wrap: normal;
    text-align: center;
}

table#series {
    min-width: 500px;
}

.pointsCell {
    text-align: center;
    vertical-align: middle;
}

.entrantPoints {
    text-align: right;
}

tr.expanded th::before {
    /*display: inline-block;
    content: "";*/
    vertical-align: -.125em;
    box-shadow: none;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path d='M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6H4z'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    background-color: #0000a0;
    padding: 0.2em;
}

tr.collapsed th::before {
    /*display: inline-block;
    content: "";*/
    vertical-align: -.125em;
    box-shadow: none;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path d='M3.626 6.832A.5.5 0 0 1 4 6h8a.5.5 0 0 1 .374.832l-4 4.5a.5.5 0 0 1-.748 0l-4-4.5z'/><path d='M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2z'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    background-color: #a00000;
    padding: 0.2em;
}

  tr.collapsed th button {
      padding: 0.2em;
  }