<head>
    <head>
        <title>Points Series change Log</title>
    </head>
    <body>
        <h1>Change log</h1>
        <h2>Recent changes</h2>
            <ul>
                <li>2021-07-28: Added significant functionality to handle alternative name spellings.</li>
                <li>2021-07-28: Fixed some issues that could occur when you mis-spell 'Licence'.</li>
                <li>2021-07-08: Some names were not being matched case-insensitive.</li>
                <li>2021-07-05: Fixed an issue where reading two sheets from one Excel file would cache as the same data.</li>
                <li>2021-06-17: Enable specifying multiple competition categories in to a single merged category.</li>
                <li>2021-06-15: Added XCM</li>
                <li>2021-06-15: Fixed some errors which could cause server to crash if no Rank column was specified in a data file.</li>
            </ul>
        <h2>Planned changes/To-Do</h2>
        <ul>
            <li>Fix heading/expansion styles to be consistent when expanded/collapsed on example points template page.</li>
            <li>Enable points generation direct from browser so no server is required</li>
            <li>Generate event JSON to cache so source excel files are not required to regenerate points</li>
            <li>Hash DOB and licence numbers in event data files, caches and series points so that riders
                can be linked but personally identifying data is not transmitted (done)</li>
            <li>Enable service call to verify that license numbers/name/DOB matches</li>
        </ul>
    </body>
</head>