<html>
    <head>
        
    </head>
    <body>
        <table>
            <tr>
                <th>Series id</th>
                <th>Name</th>
                <th>Results (html)</th>
                <th>Results (xlsx)</th>
            </tr>
            {{#series}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{displayname}}</td>
                    <td><a href="/seriesResult/{{link}}.html">HTML</a></td>
                    <td><a href="/seriesResult/{{link}}.xlsx">Excel</a></td>
                    <td><a href="/series/{{link}}/config.html">Config</a></td>
                </tr>
            {{/series}}
        </table>
        <div><a href="/verifyDataFile.html">Verify a data file.</a></div>
    </body>
</html>